<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <title>Text Classification</title>


  </head>

  <body>

  </div>

      <div class="container-fluid">

          <div class="row">


              <div class="col-md-12">

                  <form action="/" method="post">

                        <div class="form-group">

                            <div align="center">
                                <label for="words" >{{ form.words.label() }}</label>
                            </div>

                            {{  form.words(class_="form-control", multiple=True) }}

                        </div>

{#                        <div class="form-group">#}
{##}
{#                            <div align="center">#}
{##}
{#                                <label for="file">{{ form.file.label() }}</label>#}
{##}
{#                                {{ form.file(class_="form-control-file") }}#}
{##}
{#                                <small id="fileHelp" class="form-text text-muted">#}
{#                                    Upload a text file contains words in a document.</small>#}
{##}
{#                            </div>#}
{##}
{##}
{#                        </div>#}

                        <div class="form-group">

                            <div align="center">
                                {{ form.submit(class_="btn btn-primary") }}
                            </div>

                        </div>


                  </form>

              </div>

              <div class="col-md-12">

                  <h2>Result: <span style="color:#cc0000">{{ prediction }} </span> </h2>

              </div>


          </div>



  </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>